.language-menu{
    display: flex;
    justify-content: space-between;
    position: relative;  
    height: 10vh;
    margin: 0 4rem;
}

li{
    text-decoration: none;
    list-style: none;
}

@media only screen and (max-width: 769px){
    .language-menu{
        margin: auto;
        padding: 20px;
        flex-direction: row;
        height: auto;
    }
}