.section2{
    display: flex;
    height: 60vh;
    margin-bottom: 20px;
    /* align-items: center;
    justify-content: center; */
}

.install,
.sign-upp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.install{
    background-color: #cbf2f8;
}

.sign-upp{
    background-color: rgb(252, 213, 219);
}
.install > p, .sign-upp > p{
    margin: 2rem 4rem;
}

.btn-three {
    border: none;
    border-radius: 0;
    padding: 15px 30px;
    cursor: pointer;
    background: rgb(17, 17, 236);
    color: #fff;
    font-size: 18px;
}